<!DOCTYPE html>
<html lang="en">

<body>
    <nav>
        <a href="/">Home</a>
        {% if 'username' in session%}
            <a href="/create">Create Habit</a>
            <a href="/profile">Profile </a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login/Register</a>
        {% endif %}
    </nav>
    <body>
        <h1>Add Habit</h1>
        <form method="POST" action="/add_habit">
            <label for="hm_startdate">Start Date:</label><br>
            <input type="date" id="hm_startdate" name="hm_startdate" required><br><br>
            
            <label for="hm_enddate">End Date:</label><br>
            <input type="date" id="hm_enddate" name="hm_enddate" required><br><br>
            
            <label for="hm_nonseq">Non-Sequential:</label><br>
            <input type="checkbox" id="hm_nonseq" name="hm_nonseq"><br><br>
            
            <label for="hm_recurring">Recurring:</label><br>
            <input type="checkbox" id="hm_recurring" name="hm_recurring"><br><br>
            
            <button type="submit">Add Habit</button>
        </form>
    </body>

    <hr>
    <div class="content">
    </div>
</body>
</html>