<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Habit or Movie</title>
    <style>
        nav {
            background-color: #333;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
        }

        nav a:last-child {
            margin-right: 0;
        }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }

        .tab button {
            background-color: #f1f1f1;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            transition: 0.3s;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <nav>
        <div>
            <a href="/">Home</a>
            {% if 'username' in session %}
                <a href="/create">Create Habit</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login/Register</a>
            {% endif %}
        </div>
    </nav>

    <div>
        <h1>Add a Habit or Movie</h1>
    </div>

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Exercise')">Exercise</button>
        <button class="tablinks" onclick="openCity(event, 'Study')">Study</button>
        <button class="tablinks" onclick="openCity(event, 'Media')">Movie</button>
        <button class="tablinks" onclick="openCity(event, 'DelEdit')">Delete / Edit</button>
    </div>

    
    <div id="Exercise" class="tabcontent">
        <h1>Exercise Habit</h1>
        <form method="POST" action="/add_exercisehabit">
            <label for="eh_title">Title:</label><br>
            <input type="text" name="eh_title"><br><br>
            <label for="eh_description">Description:</label><br>
            <textarea name="eh_description"></textarea><br><br>
            <label for="eh_activitytype">Activity:</label><br>
            <input type="text" name="eh_activitytype"><br><br>
            <label for="eh_durationmin">Duration:</label><br>
            <input type="text" name="eh_durationmin"><br><br>
            <label for="hm_exercise_startdate">Start Date:</label><br>
            <input type="date" id="hm_exercise_startdate" name="hm_exercise_startdate" required><br><br>
            <label for="hm_exercise_enddate">End Date:</label><br>
            <input type="date" id="hm_exercise_enddate" name="hm_exercise_enddate" required><br><br>
            <button type="submit">Add Habit</button>
        </form>
    </div>

    <div id="Study" class="tabcontent">
        <h1>Study Habit</h1>
        <form method="POST" action="/add_studyhabit">
            <label for="sh_title">Title:</label><br>
            <input type="text" name="sh_title"><br><br>
            <label for="sh_description">Description:</label><br>
            <textarea name="sh_description"></textarea><br><br>
            <label for="sh_subject">Subject:</label><br>
            <input type="text" name="sh_subject"><br><br>
            <label for="sh_durationmin">Duration:</label><br>
            <input type="text" name="sh_durationmin"><br><br>
            <label for="hm_study_startdate">Start Date:</label><br>
            <input type="date" id="hm_study_startdate" name="hm_study_startdate" required><br><br>
            <label for="hm_study_enddate">End Date:</label><br>
            <input type="date" id="hm_study_enddate" name="hm_study_enddate" required><br><br>
            <button type="submit">Add Habit</button>
        </form>
    </div>

    <div id="Media" class="tabcontent">
        <h1>Add a Media Watched</h1>
        <form method="POST" action="/add_mediaWatched">
            <label for="sh_mediatype">Media Type:</label><br>
            <input type="text" name="mw_mediatype"><br><br>
            <label for="mw_title">Title:</label><br>
            <input type="text" name="mw_title"><br><br>
            <label for="mw_complete">Completed?:</label><br>
            <input type="checkbox" id="mw_complete" name="mw_complete"><br><br>
            <button type="submit">Add Media</button>
        </form>
    </div>

    <div id="DelEdit" class="tabcontent">
        <h1>Exercise Habits</h1>
        {% for post in exerciseHabits %}
        <div id="display-{{ post[0] }}" style="display: block;">
                <p style="display:inline-block"> Title: {{ post[1] }}, Description: {{post[2]}}, Activity: {{post[3]}}, Date Duration: {{post[4] + " - "+ post[5]}}, Minute Duration: {{post[6]}}
                    <form method="POST" action="/deleteHabit" style="display: inline;">
                    <button type="submit" name="delExHabit" class="delete-button" value="{{ post[0] }}">Delete</button>
                    </form>
                    <button type="button" onclick="showEditForm('{{ post[0] }}')">Edit</button>
                </p>
        </div>
        <!-- Editable Form -->
        <div id="edit-{{ post[0] }}" style="display: none;">
            <form method="POST" action="/editExerciseHabit">
                <input type="hidden" name="hm_habitid" value="{{ post[0] }}">
                <label for="eh_title" >Title:</label><br>
                <input type="text" name="eh_title" value="{{ post[1] }}"><br><br>
                <label for="eh_description">Description:</label><br>
                <textarea name="eh_description" value="{{ post[2] }}"></textarea><br><br>
                <label for="eh_activitytype">Activity:</label><br>
                <input type="text" name="eh_activitytype" value="{{ post[3] }}"><br><br>
                <label for="eh_durationmin">Duration:</label><br>
                <input type="text" name="eh_durationmin" value="{{ post[6] }}""><br><br>
                <!-- <label for="hm_exercise_startdate">Start Date:</label><br>
                <input type="date" id="hm_exercise_startdate" name="hm_exercise_startdate" value="{{ post[4] }}"><br><br>
                <label for="hm_exercise_enddate">End Date:</label><br>
                <input type="date" id="hm_exercise_enddate" name="hm_exercise_enddate" value="{{ post[5] }}"><br><br> -->
                <button type="submit">Save</button>
                <button type="button" onclick="cancelEdit('{{ post[0] }}')">Cancel</button>
            </form>
        </div>
        {% endfor %}

        <!-- Need to do same for studyhabits -->
        <h1>Study Habits</h1>
        {% for post in studyHabits %}
        <div id="display-{{ post[0] }}" style="display: block;">
            <p style="display:inline-block"> Title: {{ post[1] }}, Description: {{post[2]}}, Subject: {{post[3]}}, Date Duration: {{post[4] + " - "+ post[5]}}, Minute Duration: {{post[6]}}
                <form method="POST" action="/deleteHabit" style="display: inline;">
                <button type="submit" name="delExHabit" class="delete-button" value="{{ post[0] }}">Delete</button>
                </form>
                <button type="button" onclick="showEditForm('{{ post[0] }}')">Edit</button>
            </p>
        </div>
            <!-- Editable Form -->
            <div id="edit-{{ post[0] }}" style="display: none;">
                <form method="POST" action="/editStudyHabit">
                    <input type="hidden" name="hm_habitid" value="{{ post[0] }}">
                    <label for="sh_title" >Title:</label><br>
                    <input type="text" name="sh_title" value="{{ post[1] }}"><br><br>
                    <label for="sh_description">Description:</label><br>
                    <textarea name="sh_description" value="{{ post[2] }}"></textarea><br><br>
                    <label for="sh_subject">Subject:</label><br>
                    <input type="text" name="sh_subject" value="{{ post[3] }}"><br><br>
                    <label for="sh_durationmin">Duration:</label><br>
                    <input type="text" name="sh_durationmin" value="{{ post[6] }}""><br><br>
                    <!-- <label for="hm_exercise_startdate">Start Date:</label><br>
                    <input type="date" id="hm_exercise_startdate" name="hm_exercise_startdate" value="{{ post[4] }}"><br><br>
                    <label for="hm_exercise_enddate">End Date:</label><br>
                    <input type="date" id="hm_exercise_enddate" name="hm_exercise_enddate" value="{{ post[5] }}"><br><br> -->
                    <button type="submit">Save</button>
                    <button type="button" onclick="cancelEdit('{{ post[0] }}')">Cancel</button>
                </form>
            </div>
        {% endfor %}
        <h1>Media</h1>
        {% for item in media %}
        <div id="display-{{ item[0] }}" style="display: block;">
            <p style="display:inline-block"> Title: {{item[1]}}, Completed: {{item[2]}}
                <form method="POST" action="/deleteMedia" style="display: inline;">
                <button type="submit" name="delMedia" class="delete-button" value="{{ item[0] }}">Delete</button>
                </form>
                <button type="button" onclick="showEditForm('{{ item[0] }}')">Edit</button>
            </p>
        </div>
        <!-- Editable Form -->
        <div id="edit-{{ item[0] }}" style="display: none;">
            <form method="POST" action="/editMedia">
                <input type="hidden" name="mw_mediaid" value="{{ item[0] }}">
                <label for="mw_title" >Title:</label><br>
                <input type="text" name="mw_title" value="{{ item[1] }}"><br><br>
                <label for="mw_complete">Completed?:</label><br>
                <input type="checkbox" id="mw_complete" name="mw_complete" ><br><br>
                <button type="submit">Save</button>
                <button type="button" onclick="cancelEdit('{{ item[0] }}')">Cancel</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <hr>
    <div class="content"></div>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>
<script>
    function showEditForm(habitId) {
        // Hide the static display
        document.getElementById(`display-${habitId}`).style.display = 'none';
        // Show the edit form
        document.getElementById(`edit-${habitId}`).style.display = 'block';
    }
    
    function cancelEdit(habitId) {
        // Show the static display
        document.getElementById(`display-${habitId}`).style.display = 'block';
        // Hide the edit form
        document.getElementById(`edit-${habitId}`).style.display = 'none';
    }
    </script>
</html>
