<!DOCTYPE html>
<html lang="en">

<body>
    <nav>
        <a href="/">FlaskApp</a>
        <a href="/create">Create Test</a>
        {% if 'username' in session%}
            <a href="#">Profile </a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login/Register</a>
        {% endif %}
    </nav>


    {% for post in posts %}
        <div class='post'>
            <p>{{ post }}</p>
        </div>
    {% endfor %}

    <hr>
    <div class="content">
    </div>
</body>
</html>