<!DOCTYPE html>
<html lang="en">

<body>
    <nav>
        <a href="#">FlaskApp</a>
        <a href="/create">Create Test</a>
    </nav>

    <title>Login</title>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    

    <a href="/register">Register</a>
    <hr>
    <div class="content">
    </div>
</body>
</html>