<!DOCTYPE html>
<html lang="en">

<body>
    <nav>
        <a href="/">Home</a>
        {% if 'username' in session%}
            <a href="/create">Create Habit</a>
            <a href="/profile">Profile </a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login/Register</a>
        {% endif %}
    </nav>

    {% for item in user%}
        <div>
            <!-- <p>{{ item }}</p> --> 
            <p>User: {{ item[1] }}</p>
            <p>Email: {{ item[2] }}</p>
        </div>
    {% endfor%}
    <hr>

    <h1>Movies in List</h1>

    {% for item in movies%}
    <div>
        <!-- <p>{{ item }}</p> --> 
        <p>Movie: <strong>{{ item[0] }}</strong></p>
        <p> Completed?: {{ item[1] }}</p>
    </div>
    {% endfor%}
    <!-- Being able to add Movie IMAGES LATER -->
    <div class="content">
    </div>
</body>
</html>